section{
    padding: 100px 0 50px 0;
}

/* Default gradient for a text titel  */
.text-title-gradient{
  background: rgb(241,198,117);
  background: linear-gradient(90deg, rgba(241,198,117,1) 16%, rgba(239,210,236,1) 50%, rgba(183,201,245,1) 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 52px;
}
/* Default gradient for a text titel  */
.text-gradient{
  background: rgb(241,198,117);
  background: linear-gradient(90deg, rgba(241,198,117,1) 16%, rgba(239,210,236,1) 50%, rgba(183,201,245,1) 84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Default button navigete for content */
.nav-button-content{
  background-color: initial;
  font-size: 12px;
  border: 1px solid #c0c0c0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ================= Animation */

.anim-button{
  background-color: initial;
  border: 1px solid #c0c0c0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.anim-button:hover{
  animation-name: btn-animation;
  animation-duration: 1s;
}

@keyframes btn-animation {
  from {font-size: 12px;}
  to {font-size: 16px;}
}
/* ================== Nav Bar ============================ */



/* ================== Nav Bar Swith button ============================ */

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }


/* ================== Top ============================ */

/* ================== Portfolio ============================ */

/* ================== Button ============================ */

.button-dark-mode, .button-dark-mode-green{
  background: #141414 ;
  color: #fff;
  border: none;
  transition: background  0.87s ease-in-out;
}

.button-dark-mode:hover{
  background-color: rgb(241,198,117);
  color: #fff;
  border: none;
}

.button-dark-mode-green:hover{
  background-color: rgb(79, 237, 92);
  color: #000;
  border: none;
}

.button-light-mode, .button-light-mode-blue, .button-light-mode-violet{
  background-color: rgb(241,198,117);
  color: #fff;
  border: none;
  transition: background 0.87s;
}

.button-light-mode:hover{
  background: #141414 ;
  color: #fff;
  border: none;
}

.button-light-mode-blue:hover{
  background: #166976 ;
  color: #fff;
  border: none;
}

.button-light-mode-violet:hover{
  background: #6748d0;
}