body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active-scroll-spy {
  border: 1px solid rgba(239,210,236,1) !important;
  background: initial !important;
  border-radius: 1rem !important;
  backdrop-filter: blur(10px) !important;
}

.navbar-fixed{
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  border: 1px solid rgba(239,210,236,1) !important;
  background: initial !important;
  border-radius: 1rem !important;
  backdrop-filter: blur(5px) !important;
}

.for-light-mode{
  --bg-color: #1b1b1b;
  --color: #fff;
  --color-hover: rgba(241,198,117);
  --fill-color: #d1d1d1;
  --fill-color-hover: #fff
  --nav-offen-card-color: #000;
}
:root{
  --bg-color: #fff;
  --color: #000;
   --color-hover: #6a6a6a;
   --fill-color: #d1d1d1;
   --fill-color-hover: #000
}